In [1]:
import pandas as pd


df = pd.read_csv('../data/todos-os-salarios-2015-2019.csv')
df.head()

,ano,carga_horaria,cargo,data_de_admissao,entidade,gratificacao,matricula,mes,nome,salario,situacao,tipo,vantagens
0,2015,220,ENC SUBDIVISOES DE SERVICOS PUBLICOS,13/03/2013,city-hall,0.0,10806854,1,ACHILLES SANTA BARBARA BARBOSA,788.00,Demais Funcionários,Cargo Comissionado,0.0
1,2015,220,AGENTE DISTRITAL,23/07/2009,city-hall,0.0,10804832,1,ADAILTON BRITO BRANDAO,788.00,Demais Funcionários,Cargo Comissionado,0.0
2,2015,220,CFE DA DIV DE FISCALIZACAO E ACOMPANHAME,31/03/2005,city-hall,0.0,10800537,1,ADAUTO OLIVEIRA DA SILVA,2109.74,Demais Funcionários,Cargo Comissionado,0.0
3,2015,220,ENC SUBDIVISOES DE SERVICOS PUBLICOS,08/03/2013,city-hall,0.0,10804533,1,ADELSON MORAES DE MATOS,788.00,Demais Funcionários,Cargo Comissionado,0.0
4,2015,220,AGENTE REGIONAL,28/02/2013,city-hall,0.0,10804741,1,ADEMILSON DE JESUS SANTOS,788.00,Demais Funcionários,Cargo Comissionado,0.0

Com essa base de dados é possível acompanhar como andam os pagamentos aos nossos servidores públicos. Algumas perguntas interessantes a serem respondidas:

* Porquê alguns salários são `R$ 0,00`?
* Gratificações e vantagens podem ser maiores que o salário-base? Em quantos casos isso acontece?
* Existem servidores com salários discrepantes mesmo tendo o mesmo cargo e mesma carga horária?
* Existem servidores recebendo, legalmente, de duas fontes diferentes ao mesmo tempo?
* Existem salários abaixo do mínimo?

In [2]:
df.describe()

,ano,carga_horaria,gratificacao,matricula,mes,salario,vantagens
count,39745.000000,39745.000000,39745.000000,3.974500e+04,39745.000000,39745.000000,39745.000000
mean,2016.426318,142.605309,36.072494,1.139723e+08,6.328394,2232.234881,604.505694
std,1.124882,85.698396,216.618254,2.195551e+08,3.488240,2120.918025,1169.204141
min,2015.000000,20.000000,0.000000,3.000000e+00,1.000000,0.000000,0.000000
25%,2015.000000,40.000000,0.000000,1.463000e+03,3.000000,1197.110000,0.000000
50%,2016.000000,200.000000,0.000000,1.080122e+07,6.000000,2150.690000,108.000000
75%,2017.000000,220.000000,0.000000,4.073626e+07,9.000000,2585.170000,779.840000
max,2019.000000,220.000000,5564.630000,6.000246e+08,12.000000,15031.760000,24413.390000